<p>emp-detail works!</p>

<div class="card">
    <img class="card-img-top" [src]="selectedEmp.empImg"/>
    <div class="card-body">
        <h3 class="card-title text-center text-info">Details of {{selectedEmp.empName}}</h3>
        <hr>        
        <input class="form-control" placeholder="EmpId" [(ngModel)]="selectedEmp.empId"/>
        <input class="form-control" [(ngModel)]="selectedEmp.empName" placeholder="Emp Name"/>
        <input class="form-control" placeholder="Emp Address" [(ngModel)]="selectedEmp.empAddress"/>
        <input class="form-control" placeholder="Emp Salary" [(ngModel)]="selectedEmp.empSalary"/>
        <p>
            <a href="#" class="btn btn-primary m-2" (click)="onUpdate()">Update</a>
            <a href="#" class="btn btn-secondary m-2">Cancel</a>
        </p>
    </div>
</div>