<!-- <p>master works!</p>

<div>
    <h1 class="m-2 text-danger">List of Employees</h1>
</div> -->

 <!-- <h2 class="text-danger">Hello</h2>
<div>
    <h1 class="m-2 text-success">Employee List</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="bg-dark text-white">
                            <th>Emp ID</th>
                            <th>Emp Name</th>
                            <th>Emp Address</th>
                            <th>Emp Salary</th>
                             <th>Emp Image</th> -->
                          <!--  <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let emp of empList">
                            <td>{{emp.empId}}</td>
                            <td>{{emp.empName}}</td>
                            <td>{{emp.empAddress}}</td>
                            <td>{{emp.empSalary | currency:'INR'}}</td>
                             <td><img [src]="emp.empImg" alt="Employee Image" width="50" height="50"/></td> -->
                           <!-- <td>
                                <button class="btn btn-primary" (click)="onEdit(emp)">Edit<i
                                        class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger">Delete<i class="fa fa-trash"
                                        aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="selectedEmp.empId" class="col-md-4 card">
                <h3 class="card-title text-center text-info">Details of {{selectedEmp.empName}}</h3>
                <hr />
                <p><img [src]="selectedEmp.empImg" alt="Employee Image" /></p>
                <input class="form-control" placeholder="Enter Employee ID" [(ngModel)]="selectedEmp.empId" />
                <input class="form-control" placeholder="Enter Employee Name" [(ngModel)]="selectedEmp.empName" />
                <input class="form-control" placeholder="Enter Employee Address" [(ngModel)]="selectedEmp.empAddress" />
                <input class="form-control" placeholder="Enter Employee Salary" [(ngModel)]="selectedEmp.empSalary" />
            </div>
        </div>
    </div>
</div> -->








<div>
    <h1 class="m-2 text-danger">List of Employees</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Employee Id</th>
                            <th>Employee Name</th>
                            <th>Employee Address</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                          <tr *ngFor="let rec of empList">
                            <td>{{rec.empId}}</td>
                            <td>{{rec.empName}}</td>
                            <td>{{rec.empAddress}}</td>
                            <td>
                                <a (click)="onEdit(rec)" class="btn btn-success m-2" href="#">
                                    Edit
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a class="btn btn-danger m-2" href="#">Delete
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                          </tr>  
                    </tbody>
                </table>
            </div>
            
            <div class="col-md-5" *ngIf="foundEmp">
                <app-emp-detail [selectedEmp]="foundEmp" (update)="onSaved($event)"></app-emp-detail>
            </div>
            <div>{{empList | json}}</div>
        </div>
    </div>
</div>