<p class="text-success text-center my-4">Contact List Works!</p>

<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4" *ngFor="let rec of contactList">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">{{ rec.name }}</h5>
        </div>
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-sm-4 text-center">
              <img [src]="rec.photo" class="img-fluid rounded-circle border" alt="{{ rec.name }}" />
            </div>
            <div class="col-sm-5">
              <input type="text" class="form-control my-2" [value]="rec.id" readonly>
              <input type="text" class="form-control my-2" [value]="rec.name" readonly>
              <input type="text" class="form-control my-2" [value]="rec.phoneno" readonly>
            </div>
            <div class="col-sm-3 text-center">
              <a class="btn btn-outline-primary btn-sm my-1 w-100" [routerLink]="['/contacts/view', rec.id]">
                <i class="fa fa-eye"></i> View
              </a>
              <a class="btn btn-outline-info btn-sm my-1 w-100" [routerLink]="['/contacts/edit', rec.id]">
                <i class="fa fa-pencil"></i> Edit
              </a>
              <a class="btn btn-outline-danger btn-sm my-1 w-100">
                <i class="fa fa-trash"></i> Delete
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
